.teto{
  font-family: helvetica;
  background-color: #6dd7d9;
  border: solid 2px white;
  border-radius: 25px;
  margin: 30px;
  text-align: center;
  text-shadow:1px 2px #fff;
}

img{
  width: 40px;
  height:40px;
}

.image{
  text-align: left !important;
  margin-bottom:0 !important;
  margin-top:5px;
  border-top: solid 2px lightgray;
  border-radius:15px;
}
.logina{
  background-color:#cfcf;
}

.botao{
  margin-left: 8px;
  margin-right:8px;
  opacity: 1 !important; 
  background-color: #8B4513;
  border:none;
  color:white;
  font-size: 14px;
  padding: 5px 8px;
  text-align: left;
  display:inline-block;
  border-radius:3px;
}

#perfil{
  text-align:center;
  margin-top:5px;
  border-top:dotted 2px;
  border-left:none;
  border-right:none;
  border-bottom:none;
  border-radius:20px;
}

.inicial{
  background-image:url(./proxy.duckduckgo.com.jpg);
}

.ferramentas{
  margin-top:0px;
  margin-bottom:0px;
  background-color: #fff;
}

body{
  background-color: #fff;
  margin:0% 10%;
}


.post{
  background-color: #ffffff;
  margin:5px;
  
}

h3{
  font-family:monospace;
}

p{
  font-family:georgia;
  padding: 3px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:2px;
  border-radius: 5px;
  border-style: double;
  border-width: 1px;
}

.pi{
  opacity: 0.9;
  background-color: #c2c2c2;
  margin: 5px;
}

.hee{
  border-style: none;
}

